* text=auto !eol
/ABOUT-NLS -text svn_keywords=Author+Date+Id+Revision
/AUTHORS -text svn_keywords=Author+Date+Id+Revision
/COPYING -text svn_keywords=Author+Date+Id+Revision
/ChangeLog -text svn_keywords=Author+Date+Id+Revision
/INSTALL -text svn_keywords=Author+Date+Id+Revision
/Makefile.am -text svn_keywords=Author+Date+Id+Revision
/Makefile.in -text svn_keywords=Author+Date+Id+Revision
/NEWS -text svn_keywords=Author+Date+Id+Revision
/README -text svn_keywords=Author+Date+Id+Revision
/TODO -text svn_keywords=Author+Date+Id+Revision
/aclocal.m4 -text svn_keywords=Author+Date+Id+Revision
/config.guess -text svn_keywords=Author+Date+Id+Revision
/config.h.in -text svn_keywords=Author+Date+Id+Revision
/config.sub -text svn_keywords=Author+Date+Id+Revision
/configure -text svn_keywords=Author+Date+Id+Revision
/configure.in -text svn_keywords=Author+Date+Id+Revision
data/icons/Archive.BaseArh.png -text
data/icons/Archive.png -text
data/icons/BD.MySQL.png -text
data/icons/DAQ.OperationSystem.png -text
data/icons/DAQ.png -text
data/icons/DemoStation.png -text
data/icons/ModSched.png -text
data/icons/Protocol.png -text
data/icons/Security.png -text
data/icons/Transport.Sockets.png -text
data/icons/Transport.png -text
data/icons/UI.QTCfg.png -text
data/icons/UI.VISION.png -text
data/icons/UI.WebCfg.png -text
data/icons/UI.png -text
data/icons/button_cancel.png -text
data/icons/button_ok.png -text
data/icons/close.png -text
data/icons/contexthelp.png -text
data/icons/exit.png -text
data/icons/gohome.png -text
data/icons/help.png -text
data/icons/identity.png -text
data/icons/next.png -text
data/icons/previous.png -text
data/icons/reload.png -text
data/icons/start.png -text
data/icons/stop.png -text
data/icons/up.png -text
data/oscada.init -text svn_keywords=Author+Date+Id+Revision
demo/DemoSt.db -text
demo/VISION/1.frm -text
demo/VISION/111 -text
demo/VISION/2.frm -text
demo/VISION/23.frm -text
demo/VISION/cap1.xpm -text
demo/VISION/nodeCompr.frm -text
demo/VISION/ots1.xpm -text
demo/VISION/ots2.xpm -text
demo/VISION/qt.xpm -text
demo/VISION/strel1.xpm -text
demo/VISION/strel2.xpm -text
demo/VISION/vision.cfg -text
demo/VISION/wer -text
demo/openscada_demo -text svn_keywords=Author+Date+Id+Revision
demo/oscada_demo.xml -text svn_keywords=Author+Date+Id+Revision
/depcomp -text svn_keywords=Author+Date+Id+Revision
doc/OpenScadaDescr.txt -text svn_keywords=Author+Date+Id+Revision
doc/OpenScadaUMLdescr.odt -text
doc/OpenScadaUMLdescr.sxw -text
doc/TZ_SCADA_LINUX-0807.sxw -text
doc/diagrams/Controllers.dia -text
doc/diagrams/FunctionStruct.dia -text
doc/diagrams/OSCD_UML_ClassDep.dia -text
doc/diagrams/OSCD_UML_ClassDep_en.dia -text
doc/diagrams/OScadaClServ.dia -text
doc/diagrams/OScadaClServSepar.dia -text
doc/diagrams/OScadaDHServer.dia -text
doc/diagrams/OScadaDSServer.dia -text
doc/diagrams/OScadaDistribConn.dia -text
doc/diagrams/OScadaDistribConn_en.dia -text
doc/diagrams/OScadaMServer.dia -text
doc/diagrams/OScadaMisc.dia -text
doc/diagrams/OScadaMisc_en.dia -text
doc/diagrams/OScadaWWWClient.dia -text
doc/diagrams/OpenScada.xmi -text svn_keywords=Author+Date+Id+Revision
doc/diagrams/OpenScadaUMLprecend.dia -text
doc/diagrams/OpenScada_23_12_02.xmi -text svn_keywords=Author+Date+Id+Revision
doc/diagrams/OpenScada_modes.dia -text
doc/diagrams/OpenScada_struct.dia -text
doc/diagrams/OpenScada_struct_en.dia -text
doc/diagrams/SCADA.dia -text
doc/diagrams/controll_tree.dia -text
doc/mod_Archive_BaseArh.pdf -text
doc/mod_BD_DBF.pdf -text
doc/mod_BD_MySQL.pdf -text
doc/mod_BD_SQLite.pdf -text
doc/mod_Contr_BlockCalc.pdf -text
doc/mod_Contr_BlockCalc_proj.pdf -text
doc/mod_Contr_DiamondBoards.pdf -text
doc/mod_Contr_JavaLikeCalc.pdf -text
doc/mod_Contr_OperationSystem.pdf -text
doc/mod_Protocol_HTTP.pdf -text
doc/mod_Special_SystemTests.pdf -text
doc/mod_Transport_Sockets.pdf -text
doc/mod_UI_QTCfg.pdf -text
doc/mod_UI_QTStarter.pdf -text
doc/mod_UI_WebCfg.pdf -text
doc/programm_area_OpenSCADA.sxw -text
doc/release_0.4.1.pdf -text
doc/uml/openscada.xmi -text
/install-sh -text svn_keywords=Author+Date+Id+Revision
/ltmain.sh -text svn_keywords=Author+Date+Id+Revision
/missing -text svn_keywords=Author+Date+Id+Revision
/mkinstalldirs -text svn_keywords=Author+Date+Id+Revision
/openscada.kateproject -text
/openscada.spec -text svn_keywords=Author+Date+Id+Revision
/oscada.xml -text svn_keywords=Author+Date+Id+Revision
src/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/autohd.h -text
src/main.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/base.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/base.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/doc/modDocument.pdf -text
src/moduls/arhiv/BaseArh/mess.cpp -text
src/moduls/arhiv/BaseArh/mess.h -text
src/moduls/arhiv/BaseArh/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/val.cpp -text
src/moduls/arhiv/BaseArh/val.h -text
src/moduls/arhiv/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf_mod.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf_mod.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/doc/modDocument.pdf -text
src/moduls/bd/DBF/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/doc/modDocument.pdf -text
src/moduls/bd/MySQL/my_sql.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/my_sql.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/bd_sqlite.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/bd_sqlite.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/doc/modDocument.pdf -text
src/moduls/bd/SQLite/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/block.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/block.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/doc/modDocument.pdf -text
src/moduls/daq/BlockCalc/doc/projVirtContr.pdf -text svneol=unset#unset
src/moduls/daq/BlockCalc/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/virtual.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/BlockCalc/virtual.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/DiamondBoards/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/DiamondBoards/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/DiamondBoards/diamond.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/DiamondBoards/diamond.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/DiamondBoards/doc/modDocument.pdf -text
src/moduls/daq/DiamondBoards/po/Makefile.am -text
src/moduls/daq/DiamondBoards/po/Makefile.in -text
src/moduls/daq/DiamondBoards/po/ru.po -text
src/moduls/daq/DiamondBoards/po/uk.po -text
src/moduls/daq/JavaLikeCalc/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/doc/modDocument.pdf -text
src/moduls/daq/JavaLikeCalc/freefunc.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/freefunc.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/freelib.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/freelib.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/func_analise.ypp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/po/Makefile.am -text
src/moduls/daq/JavaLikeCalc/po/Makefile.in -text
src/moduls/daq/JavaLikeCalc/po/ru.po -text
src/moduls/daq/JavaLikeCalc/po/uk.po -text
src/moduls/daq/JavaLikeCalc/virtual.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/JavaLikeCalc/virtual.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/da.h -text
src/moduls/daq/OperationSystem/da_cpu.cpp -text
src/moduls/daq/OperationSystem/da_cpu.h -text
src/moduls/daq/OperationSystem/da_hddstat.cpp -text
src/moduls/daq/OperationSystem/da_hddstat.h -text
src/moduls/daq/OperationSystem/da_hddtemp.cpp -text
src/moduls/daq/OperationSystem/da_hddtemp.h -text
src/moduls/daq/OperationSystem/da_mem.cpp -text
src/moduls/daq/OperationSystem/da_mem.h -text
src/moduls/daq/OperationSystem/da_netstat.cpp -text
src/moduls/daq/OperationSystem/da_netstat.h -text
src/moduls/daq/OperationSystem/da_sensors.cpp -text
src/moduls/daq/OperationSystem/da_sensors.h -text
src/moduls/daq/OperationSystem/da_smart.cpp -text
src/moduls/daq/OperationSystem/da_smart.h -text
src/moduls/daq/OperationSystem/da_uptime.cpp -text
src/moduls/daq/OperationSystem/da_uptime.h -text
src/moduls/daq/OperationSystem/doc/modDocument.pdf -text
src/moduls/daq/OperationSystem/os_contr.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/os_contr.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/daq/OperationSystem/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/doc/modDocument.pdf -text svneol=unset#unset
src/moduls/protocol/HTTP/http.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/http.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/self.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/self.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibComplex1/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibComplex1/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibComplex1/doc/modDocument.pdf -text
src/moduls/special/FLibComplex1/libcompl1.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibComplex1/po/Makefile.am -text
src/moduls/special/FLibComplex1/po/Makefile.in -text
src/moduls/special/FLibComplex1/po/ru.po -text
src/moduls/special/FLibComplex1/po/uk.po -text
src/moduls/special/FLibComplex1/statfunc.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibComplex1/statfunc.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/FLibMath/Makefile.am -text
src/moduls/special/FLibMath/Makefile.in -text
src/moduls/special/FLibMath/po/Makefile.am -text
src/moduls/special/FLibMath/po/Makefile.in -text
src/moduls/special/FLibMath/po/ru.po -text
src/moduls/special/FLibMath/po/uk.po -text
src/moduls/special/FLibMath/statfunc.cpp -text
src/moduls/special/FLibMath/statfunc.h -text
src/moduls/special/FLibMath/stdmath.h -text
src/moduls/special/FLibTime/Makefile.am -text
src/moduls/special/FLibTime/Makefile.in -text
src/moduls/special/FLibTime/po/Makefile.am -text
src/moduls/special/FLibTime/po/Makefile.in -text
src/moduls/special/FLibTime/po/ru.po -text
src/moduls/special/FLibTime/po/uk.po -text
src/moduls/special/FLibTime/statfunc.cpp -text
src/moduls/special/FLibTime/statfunc.h -text
src/moduls/special/FLibTime/timefnc.h -text
src/moduls/special/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/doc/modDocument.pdf -text
src/moduls/special/SystemTests/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/test_kernel.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/test_kernel.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/mail.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/mail.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/doc/modDocument.pdf -text
src/moduls/transport/Sockets/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/socket.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/socket.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/dlguser.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/dlguser.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/doc/modDocument.pdf -text
src/moduls/ui/QTCfg/imgview.cpp -text
src/moduls/ui/QTCfg/imgview.h -text
src/moduls/ui/QTCfg/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/qtcfg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/qtcfg.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/tuimod.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/tuimod.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/button_cancel.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/button_ok.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/close.xpm -text
src/moduls/ui/QTCfg/xpm/contexthelp.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/exit.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/help.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/identity.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/next.xpm -text
src/moduls/ui/QTCfg/xpm/ok.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/oscada.xpm -text
src/moduls/ui/QTCfg/xpm/oscada_cfg.xpm -text
src/moduls/ui/QTCfg/xpm/previous.xpm -text
src/moduls/ui/QTCfg/xpm/reload.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/start.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/stop.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/up.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTStarter/Makefile.am -text
src/moduls/ui/QTStarter/Makefile.in -text
src/moduls/ui/QTStarter/doc/modDocument.pdf -text
src/moduls/ui/QTStarter/po/Makefile.am -text
src/moduls/ui/QTStarter/po/Makefile.in -text
src/moduls/ui/QTStarter/po/ru.po -text
src/moduls/ui/QTStarter/po/uk.po -text
src/moduls/ui/QTStarter/tuimod.cpp -text
src/moduls/ui/QTStarter/tuimod.h -text
src/moduls/ui/QTStarter/xpm/exit.xpm -text
src/moduls/ui/QTStarter/xpm/oscada_qt.xpm -text
src/moduls/ui/Vision/Makefile.am -text
src/moduls/ui/Vision/Makefile.in -text
src/moduls/ui/Vision/tconfiguration.cpp -text
src/moduls/ui/Vision/tconfiguration.h -text
src/moduls/ui/Vision/tdbgw.cpp -text
src/moduls/ui/Vision/tdbgw.h -text
src/moduls/ui/Vision/tdynamicpropdialog.cpp -text
src/moduls/ui/Vision/tdynamicpropdialog.h -text
src/moduls/ui/Vision/telementsupervisor.h -text
src/moduls/ui/Vision/tframedev.cpp -text
src/moduls/ui/Vision/tframedev.h -text
src/moduls/ui/Vision/tframeview.cpp -text
src/moduls/ui/Vision/tframeview.h -text
src/moduls/ui/Vision/titem.cpp -text
src/moduls/ui/Vision/titem.h -text
src/moduls/ui/Vision/titemsupervisor.cpp -text
src/moduls/ui/Vision/titemsupervisor.h -text
src/moduls/ui/Vision/tvision.cpp -text
src/moduls/ui/Vision/tvision.h -text
src/moduls/ui/Vision/tvisiondev.cpp -text
src/moduls/ui/Vision/tvisiondev.h -text
src/moduls/ui/Vision/tvisionerror.cpp -text
src/moduls/ui/Vision/tvisionerror.h -text
src/moduls/ui/Vision/tvisionrun.cpp -text
src/moduls/ui/Vision/tvisionrun.h -text
src/moduls/ui/Vision/xpm/deleteFrame.xpm -text
src/moduls/ui/Vision/xpm/deleteFrame_xpm.xpm -text
src/moduls/ui/Vision/xpm/deleteItems_xpm.xpm -text
src/moduls/ui/Vision/xpm/newFrame_xpm.xpm -text
src/moduls/ui/Vision/xpm/saveCfg_xpm.xpm -text
src/moduls/ui/Vision/xpm/saveFrame_xpm.xpm -text
src/moduls/ui/Vision/xpm/tcimage.xpm -text
src/moduls/ui/Vision/xpm/tcline.xpm -text
src/moduls/ui/Vision/xpm/tcrectangle.xpm -text
src/moduls/ui/Vision/xpm/tctext.xpm -text
src/moduls/ui/WebCfg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/doc/modDocument.pdf -text
src/moduls/ui/WebCfg/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/web_cfg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/web_cfg.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/web_dbg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/web_dbg.h -text svn_keywords=Author+Date+Id+Revision
src/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/resalloc.cpp -text
src/resalloc.h -text
src/tarchives.cpp -text svn_keywords=Author+Date+Id+Revision
src/tarchives.h -text svn_keywords=Author+Date+Id+Revision
src/tarchval.cpp -text
src/tarchval.h -text
src/tbds.cpp -text svn_keywords=Author+Date+Id+Revision
src/tbds.h -text svn_keywords=Author+Date+Id+Revision
src/tcntrnode.cpp -text svn_keywords=Author+Date+Id+Revision
src/tcntrnode.h -text svn_keywords=Author+Date+Id+Revision
src/tconfig.cpp -text svn_keywords=Author+Date+Id+Revision
src/tconfig.h -text svn_keywords=Author+Date+Id+Revision
src/tcontroller.cpp -text svn_keywords=Author+Date+Id+Revision
src/tcontroller.h -text svn_keywords=Author+Date+Id+Revision
src/tdaqs.cpp -text svn_keywords=Author+Date+Id+Revision
src/tdaqs.h -text svn_keywords=Author+Date+Id+Revision
src/telem.cpp -text svn_keywords=Author+Date+Id+Revision
src/telem.h -text svn_keywords=Author+Date+Id+Revision
src/terror.cpp -text svn_keywords=Author+Date+Id+Revision
src/terror.h -text svn_keywords=Author+Date+Id+Revision
src/tfunction.cpp -text svn_keywords=Author+Date+Id+Revision
src/tfunction.h -text svn_keywords=Author+Date+Id+Revision
src/tmess.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmess.h -text svn_keywords=Author+Date+Id+Revision
src/tmodschedul.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmodschedul.h -text svn_keywords=Author+Date+Id+Revision
src/tmodule.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmodule.h -text svn_keywords=Author+Date+Id+Revision
src/tparam.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparam.h -text svn_keywords=Author+Date+Id+Revision
src/tparamcontr.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparamcontr.h -text svn_keywords=Author+Date+Id+Revision
src/tparams.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparams.h -text svn_keywords=Author+Date+Id+Revision
src/tprmtmpl.cpp -text
src/tprmtmpl.h -text
src/tprotocols.cpp -text svn_keywords=Author+Date+Id+Revision
src/tprotocols.h -text svn_keywords=Author+Date+Id+Revision
src/tsecurity.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsecurity.h -text svn_keywords=Author+Date+Id+Revision
src/tspecials.cpp -text svn_keywords=Author+Date+Id+Revision
src/tspecials.h -text svn_keywords=Author+Date+Id+Revision
src/tsubsys.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsubsys.h -text svn_keywords=Author+Date+Id+Revision
src/tsys.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsys.h -text svn_keywords=Author+Date+Id+Revision
src/ttiparam.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttiparam.h -text svn_keywords=Author+Date+Id+Revision
src/ttipdaq.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttipdaq.h -text svn_keywords=Author+Date+Id+Revision
src/ttransports.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttransports.h -text svn_keywords=Author+Date+Id+Revision
src/tuis.cpp -text svn_keywords=Author+Date+Id+Revision
src/tuis.h -text svn_keywords=Author+Date+Id+Revision
src/tvalue.cpp -text svn_keywords=Author+Date+Id+Revision
src/tvalue.h -text svn_keywords=Author+Date+Id+Revision
src/xml.cpp -text svn_keywords=Author+Date+Id+Revision
src/xml.h -text svn_keywords=Author+Date+Id+Revision
