* text=auto !eol
/ABOUT-NLS -text svn_keywords=Author+Date+Id+Revision
/AUTHORS -text svn_keywords=Author+Date+Id+Revision
/COPYING -text svn_keywords=Author+Date+Id+Revision
/ChangeLog -text svn_keywords=Author+Date+Id+Revision
/INSTALL -text svn_keywords=Author+Date+Id+Revision
/Makefile.am -text svn_keywords=Author+Date+Id+Revision
/Makefile.in -text svn_keywords=Author+Date+Id+Revision
/NEWS -text svn_keywords=Author+Date+Id+Revision
/README -text svn_keywords=Author+Date+Id+Revision
/TODO -text svn_keywords=Author+Date+Id+Revision
/aclocal.m4 -text svn_keywords=Author+Date+Id+Revision
/config.guess -text svn_keywords=Author+Date+Id+Revision
/config.h.in -text svn_keywords=Author+Date+Id+Revision
/config.sub -text svn_keywords=Author+Date+Id+Revision
/configure -text svn_keywords=Author+Date+Id+Revision
/configure.in -text svn_keywords=Author+Date+Id+Revision
demo/DemoSt.db -text
demo/openscada_demo -text svn_keywords=Author+Date+Id+Revision
demo/oscada_demo.xml -text svn_keywords=Author+Date+Id+Revision
/depcomp -text svn_keywords=Author+Date+Id+Revision
doc/OpenScadaDescr.txt -text svn_keywords=Author+Date+Id+Revision
doc/OpenScadaUMLdescr.sxw -text
doc/TZ_SCADA_LINUX-0807.sxw -text
doc/diagrams/Controllers.dia -text
doc/diagrams/FunctionStruct.dia -text
doc/diagrams/OSCD_UML_ClassDep.dia -text
doc/diagrams/OSCD_UML_ClassDep_en.dia -text
doc/diagrams/OScadaClServ.dia -text
doc/diagrams/OScadaClServSepar.dia -text
doc/diagrams/OScadaDHServer.dia -text
doc/diagrams/OScadaDSServer.dia -text
doc/diagrams/OScadaDistribConn.dia -text
doc/diagrams/OScadaDistribConn_en.dia -text
doc/diagrams/OScadaMServer.dia -text
doc/diagrams/OScadaMisc.dia -text
doc/diagrams/OScadaMisc_en.dia -text
doc/diagrams/OScadaWWWClient.dia -text
doc/diagrams/OpenScada.xmi -text svn_keywords=Author+Date+Id+Revision
doc/diagrams/OpenScadaUMLprecend.dia -text
doc/diagrams/OpenScada_23_12_02.xmi -text svn_keywords=Author+Date+Id+Revision
doc/diagrams/OpenScada_modes.dia -text
doc/diagrams/OpenScada_struct.dia -text
doc/diagrams/OpenScada_struct_en.dia -text
doc/diagrams/SCADA.dia -text
doc/diagrams/controll_tree.dia -text
doc/mod_Archive_BaseArh.sxw -text
doc/mod_BD_DBF.sxw -text
doc/mod_BD_MySQL.sxw -text
doc/mod_BD_SQLite.sxw -text
doc/mod_Contr_BlockCalc.sxw -text
doc/mod_Contr_BlockCalc_proj.sxw -text
doc/mod_Contr_DiamondBoards.sxw -text
doc/mod_Contr_JavaLikeCalc.sxw -text
doc/mod_Contr_OperationSystem.sxw -text
doc/mod_Protocol_HTTP.sxw -text
doc/mod_Special_StaticFuncLibs.sxw -text
doc/mod_Special_SystemTests.sxw -text
doc/mod_Transport_Sockets.sxw -text
doc/mod_UI_QTCfg.sxw -text
doc/mod_UI_WebCfg.sxw -text
doc/programm_area_OpenSCADA.sxw -text
doc/release_0.3.0.sxw -text
doc/release_0.3.1.sxw -text
doc/release_0.4.0.sxw -text
doc/roadmap.sxw -text
doc/to_do.sxw -text
/install-sh -text svn_keywords=Author+Date+Id+Revision
/ltmain.sh -text svn_keywords=Author+Date+Id+Revision
/missing -text svn_keywords=Author+Date+Id+Revision
/mkinstalldirs -text svn_keywords=Author+Date+Id+Revision
/openscada.spec -text svn_keywords=Author+Date+Id+Revision
/oscada.init -text svn_keywords=Author+Date+Id+Revision
/oscada.xml -text svn_keywords=Author+Date+Id+Revision
src/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/autohd.h -text
src/main.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/base.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/base.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/doc/generic.sxw -text
src/moduls/arhiv/BaseArh/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/BaseArh/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/arhiv/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf_mod.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/dbf_mod.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/doc/generic.sxw -text
src/moduls/bd/DBF/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/DBF/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/doc/generic.sxw -text
src/moduls/bd/MySQL/my_sql.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/my_sql.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/MySQL/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/bd_sqlite.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/bd_sqlite.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/doc/generic.sxw -text
src/moduls/bd/SQLite/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/bd/SQLite/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/doc/generic.sxw -text
src/moduls/protocol/HTTP/http.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/http.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/HTTP/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/self.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/protocol/SelfSystem/self.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/doc/generic.sxw -text
src/moduls/special/StaticFuncLibs/libcompl1.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/po/Makefile.am -text
src/moduls/special/StaticFuncLibs/po/Makefile.in -text
src/moduls/special/StaticFuncLibs/po/ru.po -text
src/moduls/special/StaticFuncLibs/po/uk.po -text
src/moduls/special/StaticFuncLibs/statfunc.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/statfunc.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/StaticFuncLibs/stdmath.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/doc/generic.sxw -text
src/moduls/special/SystemTests/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/test_kernel.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/special/SystemTests/test_kernel.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/block.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/block.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/doc/generic.sxw -text
src/moduls/tcontr/BlockCalc/doc/project.sxw -text
src/moduls/tcontr/BlockCalc/doc/struct.dia -text
src/moduls/tcontr/BlockCalc/doc/virtual.xmi -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/virtual.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/BlockCalc/virtual.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/diamond.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/diamond.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/doc/generic.sxw -text
src/moduls/tcontr/DiamondBoards/dscud.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/DiamondBoards/libdscud5.a -text
src/moduls/tcontr/DiamondBoards/po/Makefile.am -text
src/moduls/tcontr/DiamondBoards/po/Makefile.in -text
src/moduls/tcontr/DiamondBoards/po/ru.po -text
src/moduls/tcontr/DiamondBoards/po/uk.po -text
src/moduls/tcontr/JavaLikeCalc/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/doc/generic.sxw -text
src/moduls/tcontr/JavaLikeCalc/freefunc.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/freefunc.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/freelib.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/freelib.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/func_analise.ypp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/po/Makefile.am -text
src/moduls/tcontr/JavaLikeCalc/po/Makefile.in -text
src/moduls/tcontr/JavaLikeCalc/po/ru.po -text
src/moduls/tcontr/JavaLikeCalc/po/uk.po -text
src/moduls/tcontr/JavaLikeCalc/virtual.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/JavaLikeCalc/virtual.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/da.h -text
src/moduls/tcontr/OperationSystem/da_cpu.cpp -text
src/moduls/tcontr/OperationSystem/da_cpu.h -text
src/moduls/tcontr/OperationSystem/da_mem.cpp -text
src/moduls/tcontr/OperationSystem/da_mem.h -text
src/moduls/tcontr/OperationSystem/da_sensors.cpp -text
src/moduls/tcontr/OperationSystem/da_sensors.h -text
src/moduls/tcontr/OperationSystem/da_smart.cpp -text
src/moduls/tcontr/OperationSystem/da_smart.h -text
src/moduls/tcontr/OperationSystem/da_uptime.cpp -text
src/moduls/tcontr/OperationSystem/da_uptime.h -text
src/moduls/tcontr/OperationSystem/doc/generic.sxw -text
src/moduls/tcontr/OperationSystem/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/sys.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/tcontr/OperationSystem/sys.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/mail.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Mail/mail.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/doc/generic.sxw -text
src/moduls/transport/Sockets/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/socket.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/transport/Sockets/socket.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/dlguser.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/dlguser.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/doc/generic.sxw -text
src/moduls/ui/QTCfg/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/qtcfg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/qtcfg.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/tuimod.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/tuimod.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/back.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/button_cancel.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/button_ok.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/close.xpm -text
src/moduls/ui/QTCfg/xpm/contexthelp.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/exit.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/forward.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/help.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/identity.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/ok.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/oscada.xpm -text
src/moduls/ui/QTCfg/xpm/oscada_cfg.xpm -text
src/moduls/ui/QTCfg/xpm/reload.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/start.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/stop.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/up.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTCfg/xpm/window_new.xpm -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/QTStarter/Makefile.am -text
src/moduls/ui/QTStarter/Makefile.in -text
src/moduls/ui/QTStarter/tuimod.cpp -text
src/moduls/ui/QTStarter/tuimod.h -text
src/moduls/ui/QTStarter/xpm/exit.xpm -text
src/moduls/ui/QTStarter/xpm/oscada_qt.xpm -text
src/moduls/ui/WebCfg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/doc/generic.sxw -text
src/moduls/ui/WebCfg/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/web_cfg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebCfg/web_cfg.h -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/web_dbg.cpp -text svn_keywords=Author+Date+Id+Revision
src/moduls/ui/WebDbg/web_dbg.h -text svn_keywords=Author+Date+Id+Revision
src/po/Makefile.am -text svn_keywords=Author+Date+Id+Revision
src/po/Makefile.in -text svn_keywords=Author+Date+Id+Revision
src/po/ru.po -text svn_keywords=Author+Date+Id+Revision
src/po/uk.po -text svn_keywords=Author+Date+Id+Revision
src/resalloc.cpp -text
src/resalloc.h -text
src/tarchives.cpp -text svn_keywords=Author+Date+Id+Revision
src/tarchives.h -text svn_keywords=Author+Date+Id+Revision
src/tbds.cpp -text svn_keywords=Author+Date+Id+Revision
src/tbds.h -text svn_keywords=Author+Date+Id+Revision
src/tcntrnode.cpp -text svn_keywords=Author+Date+Id+Revision
src/tcntrnode.h -text svn_keywords=Author+Date+Id+Revision
src/tconfig.cpp -text svn_keywords=Author+Date+Id+Revision
src/tconfig.h -text svn_keywords=Author+Date+Id+Revision
src/tcontroller.cpp -text svn_keywords=Author+Date+Id+Revision
src/tcontroller.h -text svn_keywords=Author+Date+Id+Revision
src/tcontrollers.cpp -text svn_keywords=Author+Date+Id+Revision
src/tcontrollers.h -text svn_keywords=Author+Date+Id+Revision
src/telem.cpp -text svn_keywords=Author+Date+Id+Revision
src/telem.h -text svn_keywords=Author+Date+Id+Revision
src/terror.cpp -text svn_keywords=Author+Date+Id+Revision
src/terror.h -text svn_keywords=Author+Date+Id+Revision
src/tfunctions.cpp -text svn_keywords=Author+Date+Id+Revision
src/tfunctions.h -text svn_keywords=Author+Date+Id+Revision
src/tmess.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmess.h -text svn_keywords=Author+Date+Id+Revision
src/tmodschedul.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmodschedul.h -text svn_keywords=Author+Date+Id+Revision
src/tmodule.cpp -text svn_keywords=Author+Date+Id+Revision
src/tmodule.h -text svn_keywords=Author+Date+Id+Revision
src/tparam.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparam.h -text svn_keywords=Author+Date+Id+Revision
src/tparamcontr.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparamcontr.h -text svn_keywords=Author+Date+Id+Revision
src/tparams.cpp -text svn_keywords=Author+Date+Id+Revision
src/tparams.h -text svn_keywords=Author+Date+Id+Revision
src/tprotocols.cpp -text svn_keywords=Author+Date+Id+Revision
src/tprotocols.h -text svn_keywords=Author+Date+Id+Revision
src/tsecurity.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsecurity.h -text svn_keywords=Author+Date+Id+Revision
src/tspecials.cpp -text svn_keywords=Author+Date+Id+Revision
src/tspecials.h -text svn_keywords=Author+Date+Id+Revision
src/tsubsys.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsubsys.h -text svn_keywords=Author+Date+Id+Revision
src/tsys.cpp -text svn_keywords=Author+Date+Id+Revision
src/tsys.h -text svn_keywords=Author+Date+Id+Revision
src/ttiparam.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttiparam.h -text svn_keywords=Author+Date+Id+Revision
src/ttipcontroller.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttipcontroller.h -text svn_keywords=Author+Date+Id+Revision
src/ttransports.cpp -text svn_keywords=Author+Date+Id+Revision
src/ttransports.h -text svn_keywords=Author+Date+Id+Revision
src/tuis.cpp -text svn_keywords=Author+Date+Id+Revision
src/tuis.h -text svn_keywords=Author+Date+Id+Revision
src/tvalue.cpp -text svn_keywords=Author+Date+Id+Revision
src/tvalue.h -text svn_keywords=Author+Date+Id+Revision
src/xml.cpp -text svn_keywords=Author+Date+Id+Revision
src/xml.h -text svn_keywords=Author+Date+Id+Revision
